@import "../../styles/base/_mixins";
@import "../../styles/base/_variables";

.product {
  border: 1px solid #EBE9EA;
  padding: 22px;

  &:hover {
    background: -webkit-linear-gradient(top, rgb(243, 243, 243), rgb(255, 255, 255) 426px);

    & > .product__actions {
      display: block;
    }
  }

  &__image {
    text-align: center;
    position: relative;
    background: no-repeat url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAQAAABLCVATAAAAqklEQVR4AeyMsQ2EQAwEt5QPvg9iaIGEIki4BOcnaBnQSQ7QCOtAhIyz8e7qJh+Nkqzy0pG+YNF281YRtYjVXCcwPRpKAvZoyN4a+oaM1v310IB4Lj6HHkOs5AqPIVZypeeQv07x+bjY/wV+8orHx1IeY0/MX6c4KvDAyovxLfbE/IV45HsB8wrjgd9HzywyahANC38PsgzypE4F2Ysrv9mRUmUDVZMERgEAU2liBwe1QL4AAAAASUVORK5CYII=') 50% 50%;
    min-height: 36px;

    @include breakpoint(medium) {
      height: 175px;
    }
  }

  &__name {
    margin-top: 25px;
    font-size: 1rem;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__price {
    margin-top: 25px;
    color: $subtleAccent;

    span {
      font-size: 1.375rem;
      font-weight: 700;
    }
  }

  &__conditions {
    color: $subtleAccent;
    margin-top: 17px;
  }

  &__actions {


    &--add {
      cursor: pointer;
      margin-top: 25px;
      border: 1px solid #D3D3D3;
      text-align: center;
      font-weight: 700;
      color: $subtleAccent2;
      text-transform: lowercase;
      padding: 12px 0 6px 0;
      line-height: 24px;
      position: relative;

      &:hover {
        color: #000;

        & .material-icons {
          color: $mainAccent;
        }
        &:before {
          display: block;
          content: ' ';
          width: 4px;
          background-color: $mainAccent;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
        }
      }

      @include breakpoint(large) {
        padding: 16px 10px 14px 10px;
        font-size: 1.25rem;

        &:hover {
          &:before {
            width: 10px;
          }
        }
      }

      & > * {
        display: inline-flex;
        vertical-align: middle;
      }
    }
  }
}
