@import "../styles/base/_mixins";
@import "../styles/base/_variables";

#app {
  background-color: #fff;

  @include breakpoint(medium) {
    height: 627px;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.35);
  }

  h2 {
    font-size: 1.25rem;
    color: $subtleAccent2;
    font-weight: 700;
    margin: 10px;

    @include breakpoint(medium) {
      margin: 20px 0;
    }

    @include breakpoint(large) {
      font-size: 1.75rem;
    }
  }
}

.container {
  padding: 5px;
}

products {
  @include breakpoint(medium) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 0;
    min-width: 0;
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
  }

  @include breakpoint(large) {
    max-width: 1233px;
    margin-left: auto;
    margin-right: auto;
  }
}

visited {
  display: block;
  @include breakpoint(medium) {
    flex: 0 0 33%;
    min-height: 0;
    min-width: 0;
  }

  @include breakpoint(large) {
    flex: 0 0 25%;
  }
}

recommendation {
  display: block;

  & .product {
    margin-bottom: 5px;
  }

  @include breakpoint(medium) {
    flex: 0 0 67%;
    min-height: 0;
    min-width: 0;

    & .list {
      display: flex;
      flex-wrap: nowrap;
      overflow: hidden;
    }

    & .product {
      margin-bottom: 0;
      border-left: 0;
      flex: 0 0 calc(100% / 2);
    }
  }
  @include breakpoint(large) {
    flex: 0 0 75%;
    min-height: 0;
    min-width: 0;

    & .product {
      flex: 0 0 calc(100% / 3);
    }
  }
}
